
<div class="container mt-5">
    <h1><i class="bi bi-people-fill"></i> Listado de usuarios ({{usuarios.length}})</h1>
    <div class="row">
        <div class="row">
            <div class="col-sm-6">
                <form [formGroup]="form" (ngSubmit)="master()">
                    <div class="mb-3">
                        <label for="name" class="form-label">Nombres</label>
                        <input type="text" class="form-control" formControlName="name" placeholder="Escribir nombres">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" formControlName="email" placeholder="name@example.com">
                    </div>
                    <button [disabled]="!form.valid" type="submit" class="btn btn-dark">
                        <span *ngIf="form.value.id">Editar</span>
                        <span *ngIf="!form.value.id">Guardar</span>
                    </button>
                </form>
            </div>
            <div class="col-sm-6">
            <div class="text-center">
                <img src="./assets/images/users.svg" class="img-fluid" width="250px" height="250px" alt="users" />
            </div>
            </div>
        </div>
       
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div *ngFor="let usuario of usuarios" class="col">
              <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{usuario.name}}</h5>
                    <p class="card-text">{{usuario.email}}</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-dark me-md-1" type="button" (click)="getUser(usuario.id)">Editar</button>
                        <button class="btn btn-danger" type="button" (click)="deleteUser(usuario.id)" >Eliminar</button>
                    </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
